.ui-gauge-cl-wrapper {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.ui-gauge-cl-class {
    color: green;
    font-weight: bold;
}

.cl-gauge{
    position:relative;
}

.cl-gauge .label {
    fill:currentColor;
    font-size:0.5rem;
    dominant-baseline:hanging;
}

.cl-gauge .value {
    fill:currentColor;
}
.cl-gauge .units {
    fill:currentColor;
    font-size:0.4rem;
}
.cl-gauge .measurement {
    fill:currentColor;
    font-size:0.5rem;
}
.cl-gauge .num{
    fill:currentColor;
    fill-opacity:0.6;
    font-size:.35rem;
    transform-origin: calc(var(--to-x) * 1%) calc(var(--to-y) * 1%);
    transform: rotate(calc(var(--t-r) * 1deg)) translate(calc(var(--tt-x) * 1%),calc(var(--tt-y) * 1%));
}
.cl-gauge .tick-minor{
    fill:none;
    stroke:currentColor;
    stroke-opacity:0.6;
}
.cl-gauge .tick-major{
    fill:none;
    stroke:currentColor;
}
.cl-gauge .sector{
    fill:none;
    stroke:transparent;
}
.cl-gauge .o-needle{
    transition:.5s;
}